:root{
    --mauve: #302248;
    --rosemauve: #613568;
    --mauvepale: #886CB9;
    --bleu: #AFBDEA;
    --jaune: #FCECC9;
    --bleumauve:#593C8B;
}


@font-face {
    font-family: bagel;
    src: url(../font/Bagel_Fat_One/BagelFatOne-Regular.ttf);
  }

@font-face {
    font-family: barlowmedium;
    src: url(../font/Barlow_Semi_Condensed/BarlowSemiCondensed-Medium.ttf);
}
@font-face {
    font-family: barlowextrabold;
    src: url(../font/Barlow_Semi_Condensed/BarlowSemiCondensed-ExtraBold.ttf);
}

body{
    font-family: barlowmedium;
    background-color: var(--jaune);
    margin: auto;
    margin-top: 10px;
}


.nav__list{
    float: inline-end;
    display: none;
    justify-content: flex-end;
    flex-direction: row;
    list-style-type: none;
    text-decoration: none;
    padding: 8px;
    margin: 0;
}

.nav__list :visited{
    text-decoration: none;
    color: none;
}

.nav__item{
    transition: 0.3s;
    color: var(--bleumauve);
    
}
.nav__item :hover  {
    text-decoration: none;
    background-color: var(--bleumauve);
    color: var(--jaune);
    border-width: 3px;
    border-style: solid;
    border-color: var(--bleumauve);
    border-radius: 10px;

    transition: border-width 0.08s;
    
}


.nav__a{
    text-decoration: none;
    padding-right: 7px;
    padding-left: 7px;
    margin-top: auto;
}


.menu-hamburger{
    text-decoration: none;
    color: var(--bleumauve);
    display: flex;
    justify-content: flex-end;
    padding-right: 7px;
    padding-left: 7px;
}

.menu-hamburger :visited{
    text-decoration: none;
    color: none;
}