*.unity filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.mov filter=lfs diff=lfs merge=lfs -text
my_folder/projets filter=lfs diff=lfs merge=lfs -text
directory filter=lfs diff=lfs merge=lfs -text
